.TextBox_main {
z-index: 3;
position: absolute;
right: 25px;
min-height: 330px;
max-height: 330px;
background-blend-mode: darken;
border-radius: 20px 20px 20px 20px;
bottom: 80px;
left: 275px;
font-weight: bold;
color: #00000000;
padding: 40px 70px 40px 100px;
box-sizing: border-box;
display: flex;
flex-flow: column;
align-items: flex-start;
letter-spacing: 0.2em;
transition: left 0.33s;
margin: 0px 100px 0px 100px;
}

.TextBox_Background {
z-index: 2;
background: white;
box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.5);
background-image: linear-gradient(#FFFFFF 80%, #F1F1F1 100%);

}

.TextBox_textElement_start {
position: relative;
animation: TextDelayShow 1000ms ease-out forwards;
opacity: 0;
}

.outer {
position: absolute;
white-space: nowrap;
left: 0px;
top: 0px;
background-image: linear-gradient(#0B346E 0%, #141423 100%);
background-clip: text;
-webkit-background-clip: text;
color: #000000FF;
z-index: 2;
font-weight: bold;
}

.inner {
white-space: nowrap;
position: absolute;
left: 0px;
top: 0px;
-webkit-text-stroke: 0.1em rgba(255, 255, 255, 1);
z-index: 1;
}

.zhanwei {
color: transparent;
white-space: nowrap;
}

.TextBox_textElement_Settled {
position: relative;
opacity: 1;
}

.TextBox_showName {
font-size: 85%;
padding: 0 2em 0 2em;
position: absolute;
left: 0px;
top: -70px;
height: 80px;
line-height: 68px;
border-radius: 20px 20px 20px 20px;
z-index: 3;
border: 4px solid rgba(255, 255, 255, 0);
}

.TextBox_ShowName_Background {
z-index: 2;
background: rgba(19, 108, 135, 1);
box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.5);
}

.miniAvatarContainer {
position: absolute;
height: 450px;
width: 450px;
bottom: 0;
left: -250px;
border-radius: 100% 0 0 100%;
overflow: hidden;
}

.miniAvatarImg {
max-height: 100%;
max-width: 100%;
position: absolute;
bottom: 0;
filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
position: absolute;
left: 2em;
top: -3.5em;
}

.outerName {
position: absolute;
left: 0;
top: 0;
background: linear-gradient(150deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(165, 212, 228) 100%);
background-clip: text;
-webkit-background-clip: text;
color: #FFFFFFFF;
z-index: 2;
font-weight: bold;
}

.innerName {
position: absolute;
left: 0;
top: 0;
z-index: 1;
}

.text {
line-height: 1.5;
overflow: hidden;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes TextDelayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
